body{
  font-family: $dff;
  line-height: 1.4;
  font-size: 16px;

  > svg{
    position: absolute;
    width: 0;
    height: 0;
  }
}

svg:not(:root){
  overflow: hidden;
}

img:not([src]) {
  visibility: hidden;
}

.site{
  max-width: 1980px;
  margin: 0 auto;
  padding: 50px 0 0 0;
  overflow: hidden;
}

.site-content{
  padding: 20px 0 20px 0;
}

.sh{
  -webkit-box-shadow: 0px 3px 16px 0px rgba(225,231,240,1);
  -moz-box-shadow: 0px 3px 16px 0px rgba(225,231,240,1);
  box-shadow: 0px 3px 16px 0px rgba(225,231,240,1);
}

.i.error{
  fill: $color__red;
}

.error{
  color: $color__red;
}

.article__row{
  @include clearfix();
  margin: 0 -15px;

  @media (min-width: $screen-sm-min){
    &.row-of-3{
      .article__column{
        width: 33.333%;
      }
    }
  
    &.row-of-2{
      .article__column{
        width: 50%;
      }
    }
  }
}

.article__column{
  padding: 0 15px;

  @media (min-width: $screen-sm-min){
    float: left;
  }
}

// Container
.ctn{
  position: relative;
  z-index: 20;
  padding-left: 15px;
  padding-right: 15px;

  &.auto{
    padding-left: 60px;
    padding-right: 60px;
  }

  &.max{
    margin: 0 auto;
    width: 100%;
    max-width: 930px;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: $screen-md-min){
      width: 88%;
    }
  }

  &.narrow{
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

// Content flow
.content-area{
  @include clearfix();
  position: relative;
}

.content-main{

  &.with-sidebar{
    @media (min-width: $screen-md-min){
      float: left;
      padding-right: 340px;
      width: 100%;
    }
  }
}

.content-aside{
  margin: 30px 0 0 0;

  @media (min-width: $screen-md-min){
    float: right;
    margin: 0 0 0 -310px;
    width: 310px;
  }
}

.entry-title,
.page-title{
  margin: 0 0 20px 0;
  font-family: $sff;
  font-size: 30px;
  color: $color__dark;

  + .breadcrumbs{
    margin: -5px 0 0 0;
  }
}

.post-thumbnail{
  display: block;

  img{
    width: 100%;
    height: auto;
  }
}

.page-header{
  margin: 0 0 15px 0;
}

.wp-block-audio{
  margin: 15px 0;
}

// Partners
.partners{
  background: #fff;
  border-top: 6px solid $color__eve;
  padding: 20px 0;
}

.partner__title{
  margin: 0 0 10px 0;
  font-size: 16px;
}

.partner__row{

  + .partner__row{
    margin: 20px 0 0 0;
  }
}

.partner__list{
  @include clearfix();
}

.partner{
  float: left;
  font-size: 0;
  display: table;
  min-height: 50px;

  + .partner{
    margin: 0 0 0 20px;
  }
}

.partner__uri{
  display: block;
  display: table-cell; 
  vertical-align: middle; 
  text-align: center;
}

.partner__img{
  max-width: 80px;
  max-height: 50px;
}