@import "mixins";
@import "vars";

.article__event{
  margin: 0 0 30px 0;
}

.article__presenter{
  margin: 0 0 15px 0;
}

.article__event-title{
  font-family: $sff;
  margin: 0 0 15px 0;
  font-size: 24px;
  color: #475669;
}

.article__event-uri{
  text-decoration: none;
}