.evenp__sidebar-inner{
  margin: 0 0 20px 0;
  background: $color__grey;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.evenp__sidebar-until-the-event{
  padding: 20px 20px 18px 20px;
  border-bottom: 1px solid #DCE4EF;
  font-family: $sff;
  font-size: 18px;
  color: $color__dark;
}

.evenp__sidebar-details{
  padding: 20px;
}