.site-footer{
  background: lighten($color__eve, 2%);
  text-align: center;
  color: #fff;
}

.site-footer__imppr{
  margin: 40px 0 0 0;
}

.site-footer__imppr-uri{
  font-weight: $dffbold;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  color: lighten($color__eve, 20%);
  
  &:visited{
    color: lighten($color__eve, 20%); }

  &:hover{
    color: #fff; }
}

.site-footer__top{
  padding: 40px 0 35px 0;
  background: darken($color__eve, 2%);
}

.site-footer__bottom{
  padding: 60px 0 40px 0;
}