.site-footer{
  background: lighten($color__eve, 2%);
  text-align: center;
  color: #fff;
}

.site-footer__imppr{
  margin: 40px 0 0 0;
}

.site-footer__imppr-uri{
  font-weight: $dffbold;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  color: lighten($color__eve, 20%);
  
  &:visited{
    color: lighten($color__eve, 20%); }

  &:hover{
    color: #fff; }
}

.site-footer__top{
  padding: 40px 0 35px 0;
  background: #f7f7f7;
  color: #475669;
  border-top: 2px solid #7bc834;
}

.site-footer__bottom{
  padding: 60px 0 40px 0;
}

.site-footer-widget{
  max-width: 400px;
  margin: 0 auto;
  text-align: left;

  .wpcf7row{

    input{
      text-align: inherit;
    }
  }
}

.site-footer-widget-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.wpcf7row-suggested-block{
  display: none;
}

.site-footer-widget-title-wrp{
  margin: 0 0 40px 0;
  text-align: center;
}

.site-footer-widget-title-lab{
  margin: 0 0 10px 0;
}

.site-footer-widget-title{
  font-family: $sff;
  font-size: 22px;
  font-weight: $sffregular;
  margin: 0;
}

.site-footer__social{

  .site-header__socials{
    max-width: 140px;
    padding: 0;
    border: none;
    margin: 15px auto;
  }
  
  .site-header__social{

    .i{
      fill: #fff;
    }
  }
}