.btn{
  display: inline-block;
  padding: 12px 22px;
  text-decoration: none;
  text-transform: uppercase;
  color: $color__dark;
  font-weight: $dffbold;
  text-align: center;
  font-size: 13px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  border: 2px solid lighten( $color__dark, 80% );
  background: lighten( $color__dark, 80% );

  @media (min-width: $screen-md-min){
    border: 2px solid transparent;
    background: transparent;
  }

  &.block{
    display: block;
  }

  &.small{
    font-size: 12px;
    padding: 6px 12px;
  }
}

.btn-facebook{
  color: #fff;
  border-color: #2f55a4;
  background: #2f55a4;
}

.btn-yellow{
  color: #000;
  border-color: #F5CC23;
  background: #F5CC23;
}

.btn-primary{
  color: $color__dark;
  border-color: $color__eve;
  background: $color__eve;
}

.btn-light{
  color: $color__dark;
  border-color: #E1E7F0;
  background: #E1E7F0;
}

.btn-link{
  color: #407ACB;
  font-size: 12px;
  font-weight: $dffbold;
  text-decoration: none;
}


// Forms
input[type=text],
input[type=number],
input[type=email],
textarea{
  width: 100%;
  display: block;
  font-family: inherit;
  border: 2px solid lighten($color__grey, 30%);
  outline: none;
  padding: 10px;
  -webkit-border-radius: 4px;
  border-radius: 4px;

  &:focus{
    border-color: $color__eve;
  }
}