.btn{
  display: inline-block;
  padding: 12px 22px;
  text-decoration: none;
  color: $color__dark;
  font-weight: $dffbold;
  font-size: 14px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  border: 2px solid lighten( $color__dark, 80% );
  background: lighten( $color__dark, 80% );

  @media (min-width: $screen-md-min){
    border: 2px solid transparent;
    background: transparent;
  }
}

.btn-block{
  display: block;
}

.btn-yellow{
  color: #000;
  border-color: #F5CC23;
  background: #F5CC23;
}

.btn-primary{
  color: $color__dark;
  border-color: $color__eve;
  background: $color__eve;
}

.btn-small{
  padding: 6px 12px;
}

.btn-link{
  color: #407ACB;
  font-size: 12px;
  font-weight: $dffbold;
  text-decoration: none;
}