$header__height: 24px;

.site-header{
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  background: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.05);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.05);

  @media (min-width: $screen-md-min){
    padding: 14px 0;
  }

  .ctn{
    height: $header__height;
    @include clearfix();
  }

  .brand{
    height: inherit;
    float: left;
  }
}

// Brand
.brand{
  position: relative;
}

.brand-img{
  width: auto;
  height: ($header__height - 4);
  max-width: none;
}

// Navigation
.main-navigation{
  font-size: 0;
  // float: right;
  height: inherit;
  @include clearfix();

  .menu{
    @include clearfix();

    @media (min-width: $screen-md-min){
      height: inherit;
    }

    @media (max-width: $screen-sm-max){
      position: absolute;
      top: 120%;
      left: 16px;
      right: 16px;

      background: #fff;

      opacity: 0;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      visibility: hidden;
      -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
      box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
      -webkit-transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      -moz-transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      -ms-transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      -o-transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      -webkit-transform: scale(0.9) translateY(-20%);
      -moz-transform: scale(0.9) translateY(-20%);
      -ms-transform: scale(0.9) translateY(-20%);
      transform: scale(0.9) translateY(-20%);
    }
  }

  &.toggled{

    .menu{
      -webkit-transform: scale(1) translateY(0);
      -moz-transform: scale(1) translateY(0);
      -ms-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0);
      visibility: visible;
      opacity: 1;
    }
  }

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    @include flexbox();

    @media (max-width: $screen-sm-max){
      padding: 8px 0 8px 0;
    }
  }

  li{
    text-align: center;
    height: $header__height;
    line-height: $header__height;
    @include flex(0 0 auto);
    align-items: center;
    flex-wrap: nowrap;

    &.hh{

      a{
        font-weight: $dffregular;
        color: #06adca;
      }
    }

    &.current-menu-item a{
      color: $color__eve;
    }

    @media (max-width: $screen-sm-max){
      ~ li{
        border-top: 1px solid #f1f1f1;
      }
    }
    
    a{
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      color: $color__grey;
      font-size: 12px;
      height: inherit;
      line-height: inherit;
      font-weight: $dffbold;
      padding: 0 8px;
    }

    &:hover a{
      color: $color__eve;  
    }
  }
}

.menu-toggle{
  line-height: 1;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  outline: none;

  > span{
    display: block;
    width: 24px;
    height: 4px;
    background: #333;

    ~ span{
      margin-top: 5px;
    }
  }
}

@media (min-width: $screen-md-min) {
	.menu-toggle {
		display: none;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

.site-header__action{
  @include flexbox();
  flex-wrap: wrap;
  float: right;
  align-items: center;
  justify-content: right;
}

.site-header__nav{
  @include flex(1 1 0);
}

.site-header__socials{
  @include flex(0 1 0);
  @include flexbox();
  align-items: center;
  justify-content: right;
  padding: 0 0 0 14px;
  margin: 0 0 0 10px;
  border-left: 1px solid lighten($color__grey, 40%);
}

.site-header__social{
  @include flex(1 1 0);

  ~ .site-header__social{
    margin: 0 0 0 8px;
  }

  a{
    display: block;
    font-size: 0;
    padding: 3px;
  }

  .i{
    width: $header__height - 6;
    height: $header__height - 6;
    fill: $color__grey;
  }
}